#simple-fog-brush-controls {
    position: absolute;
    left: 120px;
    width: 180px;
    text-align: center;
}
.simple-fog-enabled #simple-fog-brush-controls {
    opacity: 1.0;
}
.simple-fog-disabled #simple-fog-brush-controls {
    opacity: 0.3;
    pointer-events: none;
}

#simple-fog-brush-controls h3,
#simple-fog-brush-controls .label {
    color: #fff;
    text-shadow: 1px 1px 0 #000;
}

#simple-fog-brush-controls .label {
    position: absolute;
    top: 22px;
}
#simple-fog-brush-controls .brush-opacity {
    position: relative;
}
#simple-fog-brush-controls .right-label {
    right: 0;
}
#simple-fog-brush-controls .left-label {
    left: 0;
}

#controls ol.active > li[data-tool="toggleSimpleFog"]:has(i.fa-eye-slash) ~ li {
    opacity: 0.3;
    pointer-events: none;
}

/* Webkit browsers */
#simple-fog-brush-controls input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    margin-top: -10px;
}

/* Firefox */
#simple-fog-brush-controls input[type="range"]::-moz-range-thumb {
    height: 24px;
}

/* IE */
#simple-fog-brush-controls input[type="range"]::-ms-thumb {
    height: 24px;
}
